//Переменные
$left-color: #efeee9;
$right-color: #eeebdf;
$main-text-color: #373e42;
$text-color: #455a64;
$circle-under: #10c1a8;
$circle-above: #dfdcd5;



  //Общие настройки шаблона
@import "global/template";
@import "global/fonts";

//Миксины
@import "global/mixins";

//Подключение блоков
@import "blocks/**/*";