extends ../template.pug
block title
    | Блог

block content
    section.section.hero
        .hero__bg
            img(src="img/bg/portfolio.jpg", alt="").hero__bg-img
        .hero__title
            img.section-title(src='img/decor/blog-header.svg', alt='')

        include ../part/header

        .user.hero__user-block
            .user__photo
                .user__avatar
                    img.user__photo-img(src='img/content/user.jpg', alt="")
            .blog__title
                +title('Блог', 'blog_header.svg', 'blog__section-title')
            .blog__desc Статьи, которые я написал


    section.section.blog
        svg(viewBox='0 0 1000 100' preserveAspectRatio='none').triangle.blog__polygon
            polygon(points='0,0 500,100 1000,0 1000,100 0,1000')
        .content-blog
            .content-blog__left
                .menu
                    ul.menu__list
                        a(href='#').menu__item Самое важное в SASS
                        a(href='#').menu__item Приёмы в вёрстке, без которых не обходится ни один сайт
                        a(href='#').menu__item Самый необходимый набор Gulp плагинов
                        a(href='#').menu__item Почему я выбрал Jade

            .content-blog__center
                .articles
                    ul.articles__list
                        li.articles__item
                            .articles__title Самое важное в SASS
                            .articles__gate 22 ноября 2016
                            .articles__content
                                | Таким образом начало повседневной работы по формированию
                                | позиции позволяет выполнять важные задания по разработке
                                | направлений прогрессивного развития. Разнообразный и богатый
                                | опыт новая модель организационной деятельности играет важную
                                | роль в формировании новых предложений. Товарищи! новая модель
                                | организационной деятельности играет важную роль в формировании
                                | систем массового участия.
                                | Не следует, однако забывать, что укрепление и развитие структуры
                                | обеспечивает широкому кругу (специалистов) участие в формировании
                                | систем массового участия. Идейные соображения высшего порядка, а
                                | также рамки и место обучения кадров обеспечивает широкому кругу
                                | (специалистов) участие в формировании позиций, занимаемых
                                | участниками в отношении поставленных задач. Товарищи! постоянный
                                | количественный рост и сфера нашей активности способствует
                                | подготовки и реализации модели развития. С другой стороны
                                | рамки и место обучения кадров влечет за собой процесс внедрения
                                | и модернизации системы обучения кадров, соответствует насущным
                                | потребностям.
                        li.articles__item
                            .articles__title Приёмы в вёрстке, без которых не обходится ни один сайт
                            .articles__gate 13 ноября 2016
                            .articles__content
                                | Таким образом начало повседневной работы по формированию
                                | позиции позволяет выполнять важные задания по разработке
                                | направлений прогрессивного развития. Разнообразный и богатый
                                | опыт новая модель организационной деятельности играет важную
                                | роль в формировании новых предложений. Товарищи! новая модель
                                | организационной деятельности играет важную роль в формировании
                                | систем массового участия.
                                | Не следует, однако забывать, что укрепление и развитие структуры
                                | обеспечивает широкому кругу (специалистов) участие в формировании
                                | систем массового участия. Идейные соображения высшего порядка, а
                                | также рамки и место обучения кадров обеспечивает широкому кругу
                                | (специалистов) участие в формировании позиций, занимаемых
                                | участниками в отношении поставленных задач. Товарищи! постоянный
                                | количественный рост и сфера нашей активности способствует
                                | подготовки и реализации модели развития. С другой стороны
                                | рамки и место обучения кадров влечет за собой процесс внедрения
                                | и модернизации системы обучения кадров, соответствует насущным
                                | потребностям.

            .content-blog__right
    include ../part/footer