extends ../template.pug
block title
    | Главная Страница

block content
    include ../part/hero

    section.section.about
        .about__left
            svg(viewBox='0 0 1000 100' preserveAspectRatio='none').triangle.triangle--fill-left.about__triangles
                polygon(points='0,0 0,1000 1000,100')
            .about__me
                +title('Обо мне', 'about-header.png', 'about__section-title')
                .about-user.about__user
                    img.about-user__picture.about__me-picture(src='img/content/about.jpg', alt="")
                    .about-user__title.subtitle
                        | Кто я
                    .about-user__text
                        p.
                            Я веб разработчик из Новосибирска. Мне 27 лет. 
                            Я занимаюсь разработкой современных сайтов и приложений.
                            Мне нравится делать интересные и современные проекты.
                            Этот сайт я сделал в рамках обучения в Школе онлайн
                            образования LoftSchool. Чуть позже я освежу в нём свой
                            контент. А пока посмотрите,как тут всё классно и красиво!


        .about__right
            svg(viewBox='0 0 1000 100' preserveAspectRatio='none').triangle.triangle--fill-right.about__triangles
                polygon(points='0,100 1000,100 1000,0')
            .about-data
                .about-data__description
                    .about-data__title.subtitle
                        | Чем я могу быть вам полезен
                    .about-data__text
                        p.
                            Больше всего меня привлекет Frontend
                            разработка, но я также
                            знаком и могу решать не сложные задачина Backend.
                            Но давайте по порядку.
                .about-data__content
                    ul.skills
                        each skill in skills
                            each skillsArray, skillName in skill
                                li.skills__item
                                    .skill-section
                                        .skill-section__title= skillName
                                    ul.skill-section__list
                                        each skillTitle in skillsArray
                                            li.skill-section__item
                                                .skill
                                                    svg(viewbox="0 0 100 100" preserveAspectRatio="none").skill__circle
                                                        circle(cx="50" cy="50" r="40").skills__circle-under
                                                        circle(cx="50" cy="50" r="40").skills__circle-above
                                                    .skill__name= skillTitle
    section.section.map
        .map-bg
            img.map-bg__img(src='/img/content/map.jpg', alt='')

        .contact-block.map__contact-block
            .contact-block__title.subtitle
                | Контакты
            ul.contact-block__list
                a.contact-block__item(href='#')
                    img.contact-block__icon(src= "img/icons/svg/skype.svg", alt="")
                    .contact-block__text skype_kdn
                a.contact-block__item(href='#')
                    img.contact-block__icon(src= "img/icons/svg/envelope.svg", alt="")
                    .contact-block__text astahov@gmail.com
                a.contact-block__item(href='#')
                    img.contact-block__icon(src= "img/icons/svg/phone.svg", alt="")
                    .contact-block__text +7 931 200 93 24
                a.contact-block__item(href='#')
                    img.contact-block__icon(src= "img/icons/svg/map_marker.svg", alt="")
                    .contact-block__text г.Новосибирск, ул. Инская, д. 5
    include ../part/footer
