.about-data{
  display: flex;
  flex-direction: column;


  &__description{
    text-align: center;
  }
  &__title{
    width: 439px;


    &:after, &:before{
      top: 68px;
    }
  }
  &__text{
    text-align: left;
  }

  &__content{
    margin: 16px 0 69px 39px;
  }
}