.about{
  display: flex;

  &__left, &__right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
  }

  &__left{
    background: $left-color;
  }
  &__right{
    background: $right-color;
  }
  &__triangles{
    position: absolute;
    bottom: 100%;
  }


  &__left-picture{
    margin-top: 20px;
  }

  &__me{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__user{
    padding-top: 66px;
  }
}

