.title{
  color: $main-text-color;
  font-size: 63px;
  @include bernier();
  padding: 45px 80px;
  display: inline-block;
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  $margin: 40px;

  &:after, &:before{
    @include centered(y);
    content: '';
    display: block;
    background: rgba($main-text-color, .2);
    width: 22px;
    height: 5px;
  }
  &:after{
    right: $margin;
  }
  &:before{
    left: $margin;
  }
}