/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-book {
  background-image: url(../img/sprite.png);
  background-position: 0px -151px;
  width: 66px;
  height: 79px;
}
.icon-like {
  background-image: url(../img/sprite.png);
  background-position: -154px 0px;
  width: 83px;
  height: 79px;
}
.icon-message {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 84px;
  height: 81px;
}
